/Arkaen.Discord.GDNBot/obj/Debug/net7.0/Arkaen.Discord.GDNBot.csproj.CoreCompileInputs.cache
/Arkaen.Discord.GDNBot/obj/Debug/net7.0/Arkaen.Discord.GDNBot.csproj.FileListAbsolute.txt
/Arkaen.Discord.GDNBot/bin/Debug/net7.0/Arkaen.Discord.GDNBot.deps.json
/Arkaen.Discord.GDNBot/obj/Debug/net7.0/ref/Arkaen.Discord.GDNBot.dll
/Arkaen.Discord.GDNBot/obj/Debug/net7.0/refint/Arkaen.Discord.GDNBot.dll
/Arkaen.Discord.GDNBot/obj/Debug/net7.0/Arkaen.Discord.GDNBot.dll
/Arkaen.Discord.GDNBot/bin/Debug/net7.0/Arkaen.Discord.GDNBot.exe
/Arkaen.Discord.GDNBot/obj/Debug/net7.0/Arkaen.Discord.GDNBot.genruntimeconfig.cache
/Arkaen.Discord.GDNBot/obj/Debug/net7.0/Arkaen.Discord.GDNBot.pdb
/Arkaen.Discord.GDNBot/bin/Debug/net7.0/Arkaen.Discord.GDNBot.runtimeconfig.json
